body, A {
    margin: 0;
  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(110, 108, 108);
   
    
    
  }

  .lightMode{
    background-color:white;
    color: #333;
    background-size: 100%;
  }

  .darkMode {
    background-size: 100%;
    background-color: #1a1919;
    color: #FFFFFF;

  
  }
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }